.tech {
  padding-top: 80px;
  min-height: 100vh;
  margin-right: 5px;
  margin-left: 5px;

  h2 {
    margin-left: 5px;
  }

  .container {
    display: flex;
    flex-direction: column;

    .description p {
      margin-left: 5px;
    }

    .tech-items {
      margin-top: 16px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 5px;
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}
